<!-- <input placeholder="name" [(ngModel)]="userObject.name">
<input placeholder="age" [(ngModel)]="userObject.age">
<input placeholder="value" [(ngModel)]="userObject.id">


<ng-container *ngIf="showAppComponent">
<app-user [user]="userObject" (userEvent)="handleEvent($event)"
          [posts]="postsObject">

</app-user>
</ng-container> -->
<!-- 
<ul *ngFor="let item of posts | async">
    <li>{{item.userId}}</li>
    <li>{{item.title}}</li>
    <li>{{item.body}}</li>
</ul> -->
<app-header></app-header>
<router-outlet></router-outlet>
<!-- CSS only -->


